@model bugList.Models.BugType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BugType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <h1>Bug type</h1>
                <input asp-for="bugType" class="form-control" />
                <span asp-validation-for="bugType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type='submit' value='Back to Project List' name='action'onclick="location.href='@Url.Action("Index", "ProjectList")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
